<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hll.mapper.VersionUpdateMapper">
  <resultMap id="BaseResultMap" type="com.hll.model.VersionUpdate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="package_url" jdbcType="VARCHAR" property="packageUrl" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="version_code" jdbcType="INTEGER" property="versionCode" />
    <result column="version_name" jdbcType="VARCHAR" property="versionName" />
    <result column="size" jdbcType="REAL" property="size" />
    <result column="publish_on" jdbcType="TIMESTAMP" property="publishOn" />
    <result column="country_codes" jdbcType="VARCHAR" property="countryCodes" />
    <result column="languages" jdbcType="VARCHAR" property="languages" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created_on" jdbcType="TIMESTAMP" property="createdOn" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_on" jdbcType="TIMESTAMP" property="updatedOn" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hll.model.VersionUpdate">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, package_name, package_url, type, version_code, version_name, size, publish_on, 
    country_codes, languages, status, created_on, created_by, updated_on, updated_by
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hll.model.VersionUpdateExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from version_update
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hll.model.VersionUpdateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from version_update
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from version_update
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from version_update
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hll.model.VersionUpdateExample">
    delete from version_update
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hll.model.VersionUpdate" useGeneratedKeys="true">
    insert into version_update (package_name, package_url, type, 
      version_code, version_name, size, 
      publish_on, country_codes, languages, 
      status, created_on, created_by, 
      updated_on, updated_by, description
      )
    values (#{packageName,jdbcType=VARCHAR}, #{packageUrl,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{versionCode,jdbcType=INTEGER}, #{versionName,jdbcType=VARCHAR}, #{size,jdbcType=REAL}, 
      #{publishOn,jdbcType=TIMESTAMP}, #{countryCodes,jdbcType=VARCHAR}, #{languages,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{updatedOn,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hll.model.VersionUpdate" useGeneratedKeys="true">
    insert into version_update
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packageName != null">
        package_name,
      </if>
      <if test="packageUrl != null">
        package_url,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="versionCode != null">
        version_code,
      </if>
      <if test="versionName != null">
        version_name,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="publishOn != null">
        publish_on,
      </if>
      <if test="countryCodes != null">
        country_codes,
      </if>
      <if test="languages != null">
        languages,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedOn != null">
        updated_on,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageUrl != null">
        #{packageUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null">
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="versionName != null">
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=REAL},
      </if>
      <if test="publishOn != null">
        #{publishOn,jdbcType=TIMESTAMP},
      </if>
      <if test="countryCodes != null">
        #{countryCodes,jdbcType=VARCHAR},
      </if>
      <if test="languages != null">
        #{languages,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedOn != null">
        #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hll.model.VersionUpdateExample" resultType="java.lang.Long">
    select count(*) from version_update
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update version_update
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.packageName != null">
        package_name = #{record.packageName,jdbcType=VARCHAR},
      </if>
      <if test="record.packageUrl != null">
        package_url = #{record.packageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.versionCode != null">
        version_code = #{record.versionCode,jdbcType=INTEGER},
      </if>
      <if test="record.versionName != null">
        version_name = #{record.versionName,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=REAL},
      </if>
      <if test="record.publishOn != null">
        publish_on = #{record.publishOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.countryCodes != null">
        country_codes = #{record.countryCodes,jdbcType=VARCHAR},
      </if>
      <if test="record.languages != null">
        languages = #{record.languages,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createdOn != null">
        created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=INTEGER},
      </if>
      <if test="record.updatedOn != null">
        updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update version_update
    set id = #{record.id,jdbcType=INTEGER},
      package_name = #{record.packageName,jdbcType=VARCHAR},
      package_url = #{record.packageUrl,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      version_code = #{record.versionCode,jdbcType=INTEGER},
      version_name = #{record.versionName,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=REAL},
      publish_on = #{record.publishOn,jdbcType=TIMESTAMP},
      country_codes = #{record.countryCodes,jdbcType=VARCHAR},
      languages = #{record.languages,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=INTEGER},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=INTEGER},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update version_update
    set id = #{record.id,jdbcType=INTEGER},
      package_name = #{record.packageName,jdbcType=VARCHAR},
      package_url = #{record.packageUrl,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      version_code = #{record.versionCode,jdbcType=INTEGER},
      version_name = #{record.versionName,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=REAL},
      publish_on = #{record.publishOn,jdbcType=TIMESTAMP},
      country_codes = #{record.countryCodes,jdbcType=VARCHAR},
      languages = #{record.languages,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=INTEGER},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hll.model.VersionUpdate">
    update version_update
    <set>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageUrl != null">
        package_url = #{packageUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null">
        version_code = #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="versionName != null">
        version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=REAL},
      </if>
      <if test="publishOn != null">
        publish_on = #{publishOn,jdbcType=TIMESTAMP},
      </if>
      <if test="countryCodes != null">
        country_codes = #{countryCodes,jdbcType=VARCHAR},
      </if>
      <if test="languages != null">
        languages = #{languages,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedOn != null">
        updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hll.model.VersionUpdate">
    update version_update
    set package_name = #{packageName,jdbcType=VARCHAR},
      package_url = #{packageUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      version_code = #{versionCode,jdbcType=INTEGER},
      version_name = #{versionName,jdbcType=VARCHAR},
      size = #{size,jdbcType=REAL},
      publish_on = #{publishOn,jdbcType=TIMESTAMP},
      country_codes = #{countryCodes,jdbcType=VARCHAR},
      languages = #{languages,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hll.model.VersionUpdate">
    update version_update
    set package_name = #{packageName,jdbcType=VARCHAR},
      package_url = #{packageUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      version_code = #{versionCode,jdbcType=INTEGER},
      version_name = #{versionName,jdbcType=VARCHAR},
      size = #{size,jdbcType=REAL},
      publish_on = #{publishOn,jdbcType=TIMESTAMP},
      country_codes = #{countryCodes,jdbcType=VARCHAR},
      languages = #{languages,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>